/* Import Poppins - Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

:root {
  --clr-bkg: #2f02e0e7;
  --clr-bkg0: #5f5f5f;
  --clr-wht: #fff;
  --clr-shdw: #00000033;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 1.563em;
  border: none;
  outline: none;
  /* outline-color: transparent; */
}

/* Button 1 */

.buttons .button1 {
  position: relative;
  display: inline-block;
  padding: .938em 1.563em;
  width: 3.75em;
  height: 3.75em;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  letter-spacing: .063em;
  text-transform: uppercase;
  text-align: center;
  vertical-align: center;
  font-weight: bold;
  color: var(--clr-wht);
  background-color: var(--clr-bkg0);
  box-shadow: 0 .625em .625em var(--clr-shdw);
  border: none;
  transition: all .5s ease;
  cursor: pointer;
}

.button1:hover,
.button1:focus,
.button1:active {
  width: 12.5em;
  transition-delay: .5s;
  border: .063em solid var(--clr-bkg);
  background-color: var(--clr-bkg);
}

.button1::before {
  content: '';
  position: absolute;
  left: 1.25em;
  width: 1.25em;
  height: .75em;
  border-top: .188em solid var(--clr-wht);
  border-right: .188em solid var(--clr-wht);
  transform: rotate(125deg);
}

.button1 span {
  visibility: hidden;
  opacity: 0;
  padding-left: 2.5em;
  white-space: nowrap;
  transition-delay: .5s;
}

.button1:hover span,
.button1:focus span,
.button1:active span  {
  visibility: visible;
  opacity: 1;
  transition-delay: .75s;
}

.button1:hover span::before,
.button1:focus span::before,
.button1:active span::before {
  content: 'validate';
  position: absolute;
  left: 40%;
}

.button1:hover span::after,
.button1:focus span::after,
.button1:active span::after {
  content: '';
  position: absolute;
  visibility: hidden;
  opacity: 0;
}

/* Button 2 rounded */

.buttons .button2 {
  position: relative;
  display: inline-block;
  padding: 0.938em 1.563em;
  width: 3.75em;
  height: 3.75em;
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  letter-spacing: .063em;
  text-transform: uppercase;
  text-align: center;
  vertical-align: center;
  font-weight: bold;
  color: var(--clr-wht);
  border-radius: 1.875em;
  box-shadow: 0 .625em .625em var(--clr-shdw);
  background-color: var(--clr-bkg0);
  border: none;
  transition: all .5s ease;
  cursor: pointer;
}

.button2:hover,
.button2:focus,
.button2:active {
  width: 12.5em;
  transition-delay: .5s;
  border: .063em solid var(--clr-bkg);
  background-color: var(--clr-bkg);
}

.button2::before {
  content: '';
  position: absolute;
  left: 1.125em;
  width: 1.25em;
  height: .75em;
  border-top: .188em solid var(--clr-wht);
  border-right: .188em solid var(--clr-wht);
  transform: rotate(125deg);
}

.button2 span {
  visibility: hidden;
  opacity: 0;
  padding-left: 2.5em;
  white-space: nowrap;
  transition-delay: .5s;
  transform: translate(-1.875em);
}

.button2:hover span,
.button2:focus span,
.button3:active span {
  visibility: visible;
  opacity: 1;
  transition-delay: .75s;
  transform: translateX(.625em);
}

.button2:hover span::before,
.button2:focus span::before,
.button2:active span::before {
  content: 'validate';
  position: absolute;
  left: 40%;
}

.button2:hover span::after,
.button2:focus span::after,
.button2:active span::after {
  content: '';
  position: absolute;
  visibility: hidden;
  opacity: 0;
}
